.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        width: 122px;
        height: 53px;
    }

    &__list{
        display: flex;
        align-items: center;
        max-width: 487px;
        width: 100%;
        justify-content: space-between;
        list-style-type: none;
        flex-wrap: wrap;
        padding: 0;
        margin-right: 10px;
        margin-left: 5px;

        &-large{
            display: none;
        }
    }

    &__item{
        padding-right: 5px;
    }

    &__link{
        text-decoration: none;
        color: $main-black;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

    }

    &__link:hover{
        color: $main-ferulous;

    }

    &__right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 299px;
        width: 100%;
    }

    &__button-large{
        display: none;
    }

    &__socially{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 46px;
        width: 100%;
        margin-right: 5px;
        margin-left: 5px;

        &-insta:hover path{
            fill: $main-black;
        }

        &-fb:hover path{
            fill: $main-black;
        }
    }

    &__tel{
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: $main-green;

        &-large{
            display: none;
        }

        &::before{
            content: "";
            width: 13px;
            height: 20px;
            display: inline-block;
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            margin-right: 11px;
        }
    }
}

.close__button, .hamburger__button{
    display: none;
    padding-right: 0;
}

@media only screen and(max-width:1000px){
    .header{
        padding-left: 20px;
        padding-right: 20px;

        &__right{
            justify-content: space-around;

        }

        &__list{
            max-width: 457px;
            width: 100%;
            justify-content: space-around;
        }
    }
}

@media only screen and(max-width:640px){
    .hamburger__button{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .header{
        &__list{
            position: absolute;
            top: 97px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin: 0;
            max-width: 320px;
            min-height: 687px;
            background-color: $main-white;
            padding-top: 30px;
            padding-bottom: 474px;
            padding-left: 26px;
            gap: 25px;
            display: none;
            z-index: 10;
        }

        .close__button{
            display: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        // .hamburger__button{
        //     // display: none;
        // }

        &__right{
            max-width: 294px;
            justify-content: space-around;
        }
    }
}

@media only screen and(max-width:480px){

    .header__tel{
        display: none;
    }

    .header__socially{
        display: none;
    }

    .header__right{
        max-width: 46px;
    }

    .hamburger__button{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .header{
        &__list{
            position: absolute;
            top: 97px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin: 0;
            max-width: 320px;
            min-height: 687px;
            background-color: $main-white;
            padding-top: 30px;
            padding-bottom: 474px;
            padding-left: 26px;
            gap: 25px;
            display: none;
            z-index: 10;
        }

        .close__button{
            display: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        // .hamburger__button{
        //     // display: none;
        // }

        &__right{
            max-width: 294px;
            justify-content: space-around;
        }
    }
}

@media only screen and(max-width:320px){
    .header{
        padding: 15px 10px;

        &__logo{
            width: 100px;
            height: 43px;
        }

        &__socially{
            display: flex;
            position: absolute;
            left: 4px;
            top: 229px;
           
        }

        &__tel{
            display: flex;
            position: absolute;
            top: 374px;
            left: 14px;
        }

        &__right{
            position: absolute;
            top: 78px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin: 0;
            max-width: 320px;
            width: 100%;
            min-height: 495px;
            background-color: $main-white;
            padding-top: 40px;
            padding-bottom: 10px;
            padding-left: 10px;
            display: none;
            z-index: 10;
        }

        &__button-large{
            padding: 22px 72.5px;
            max-width: 300px;
            width: 100%;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-white;
            background-color: $main-ferulous;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 425px;
            left: 10px;
        }

        &__list{
            display: none;

            &-large{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                margin: 0;
                gap: 25px;
                list-style-type: none;
                padding: 0;
                margin-bottom: 40px;
            }
        }

        .close__button{
            display: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        // .hamburger__button{
        //     // display: none;
        // }

        // &__right{
        //     max-width: 294px;
        //     justify-content: space-around;
        // }
    }

    
}

