.huge-container{
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 1600px 687px;
    background-position: center;
}

.hero{
    padding-top: 120px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hedding{
        font-family: Raleway;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: center;
        color: $main-white;
        max-width: 446px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 20px;
    }

    &__text{
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 537px;
        color: $main-white;
        opacity: 0.8;
        margin: 0;
        margin-bottom: 48px;
    }

    &__button{
        margin: 0;
        padding: 22px 52px;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $main-white;
        background-color: $main-ferulous;
        border: none;
        cursor: pointer;
        margin-bottom: 120px;

        &:hover{
            background: #CC9654;
            box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
        }
    }

    &__line{
        display: inline-block;
        border: 1px solid $main-white;
        opacity: 0.4;
        width: 100%;
        margin-bottom: 25px;
    }

    .sliders{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        &__left{
            max-width: 65px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-button{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        &__right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 126px;
            width: 100%;

            &-button{
                padding: 6px 10px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid $main-white;
                color: $main-white;
                opacity: 0.5;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                }

                &--active{
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and(max-width:1000px){
    .huge-container{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url(../images/hero-bg-1000.png);
        background-repeat: no-repeat;
        background-size: 1000px 687px;
        background-position: center;
    }
}

@media only screen and(max-width:640px){
    .huge-container{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url(../images/hero-bg-640.png);
        background-repeat: no-repeat;
        background-size: 640px 687px;
        background-position: center;
    }
}

@media only screen and(max-width:480px){
    .hero{

        &__hedding{
            font-size: 37px;
            line-height: 34px;
            margin-bottom: 28px;
            max-width: 296px;
    }
}
}


@media only screen and(max-width:320px){
    .huge-container{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%), url(../images/hero-bg-320.png);
        background-repeat: no-repeat;
        background-size: 320px 495px;
        background-position: center;
    }

    .hero{
        padding-top: 70px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;

        &__hedding{
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 28px;
            max-width: 296px;
        }

        &__text{
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 30px;
            max-width: 300px;
        }

        &__button{
            padding: 22px 72.5px;
            margin-bottom: 62px;
        }

        &__line{
            margin-bottom: 15px;
            border: 0.5px solid $main-white;
        }

        .sliders{
            max-width: 126px;

            &__left{
                display: none;
            }
        }
    }
}